<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-4" >
        @for (card of cards; track $index){
        <div class="col">
            <div class="card shadow-sm border-info-subtle mb-4">
                <img [src]="card.imageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ card.tittle }}</h5>
                    <p class="card-text">{{ card.text }}</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>